:root {
	--bg: #0b0c0e;
	--mer: #00a19c;
	--silver: #c0c0c0;
	--red: #d40000;
	--fbg: #16181c;
}

.share-tech-regular {
	font-family: 'Share Tech', sans-serif;
	font-weight: 400;
	font-style: normal;
}
