@import 'tailwindcss';
.reveal pre code,
.hljs {
	background: none !important;
	padding: 5px;
	overflow: auto;
	max-height: 400px;
	word-wrap: normal;
}
.reveal pre,
.hljs {
	box-shadow: none !important;
}
.errline {
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-color: #ef4444; /* red-500 */
	text-underline-offset: 0.15em; /* push it a bit below */
	text-decoration-thickness: 2px;
}

.bebas {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	font-style: normal;
}
.code-layer pre,
.code-layer code,
.code-layer {
	margin: 0 !important;
	padding: 0 !important;
	font-family: monospace !important;
	font-size: 2.25rem !important; /* same as text-4xl */
	line-height: 1.4 !important; /* same as leading-snug */
	tab-size: 4 !important;
	white-space: pre !important;
}
