@import 'tailwindcss';
.reveal pre code,
.hljs {
	background: none !important;
	padding: 5px;
	overflow: auto;
	max-height: 400px;
	word-wrap: normal;
}
.reveal pre,
.hljs {
	box-shadow: none !important;
}
.squiggly {
	text-decoration: underline;
	text-decoration-color: transparent;
	text-decoration-thickness: 2px;
	text-decoration-style: wavy; /* Works in most modern browsers */
	text-decoration-color: red;
}

.bebas {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	font-style: normal;
}
