@import 'tailwindcss';

body {
	margin: 0;
	padding: 0;
	background-color: #000;
	font-family: 'cascadia', monospace;
	overflow: hidden;
}
.error {
	color: #ff3333;
}

.response {
	color: #09af01;
}
.terminal-text {
	font-size: 2rem;
	line-height: 1.5;
	margin-bottom: 0.75rem;
	position: relative;
	display: inline-block;
}
